---
---
<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>{% if page.title %}{{ page.title }} | Games | {{ site.title }}{% else %}Games | {{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}Play fun and challenging games on RKoots - from puzzles to arcade classics, test your skills and compete for high scores{% endif %}">
  <link rel="canonical" href="{{ page.url | absolute_url | split: '?' | first }}">
  <link rel="icon" type="image/x-icon" href="/favicon.ico">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=JetBrains+Mono:wght@400;500;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/games.css' | relative_url }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  {% if page.use_firebase %}
  <script src="https://www.gstatic.com/firebasejs/10.7.1/firebase-app-compat.js"></script>
  <script src="https://www.gstatic.com/firebasejs/10.7.1/firebase-auth-compat.js"></script>
  <script src="https://www.gstatic.com/firebasejs/10.7.1/firebase-database-compat.js"></script>
  <script src="{{ '/assets/js/games/firebase-config.js' | relative_url }}"></script>
  <script src="{{ '/assets/js/games/auth.js' | relative_url }}"></script>
  <script src="{{ '/assets/js/games/leaderboard.js' | relative_url }}"></script>
  {% endif %}
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-N42T2MHP');</script>
</head>
<body class="game-layout">
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N42T2MHP" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  {% include header.html %}
  <main class="game-main" id="game-main">
    {{ content }}
  </main>
  <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
</body>
</html>
