name: Market Run

on:
    schedule:
        - cron: '0 17 * * 1-5'
    workflow_dispatch:
jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repository
              uses: actions/checkout@v3
            - name: Set up Python 3.12
              uses: actions/setup-python@v4
              with:
                  python-version: '3.12'
            - name: Install dependencies
              run: |
                cd ./blog 
                pip install -r requirements.txt
            - name: Run Script
              run: |
                  cd ./scripts  
                  python Dummy_Research.py