name: MarketRun

on:
  # push:
  #   branches:
  #     - main
  schedule:
    - cron: '0 */3 * * *'
  workflow_dispatch:  # Optional: allows manual trigger from GitHub UI

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # Checkout the code
      - name: Checkout repository
        uses: actions/checkout@v3

      # Set up Python
      - name: Set up Python 3.12
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'

      # Install dependencies
      - name: Install dependencies
        run: |
          cd ./scripts 
          pip install -r requirements.txt

      # Run the Python script with environment variables
      - name: Run Script
        env:
          FIREBASE_URL: ${{ secrets.FIREBASE_URL }}
          PAYTM_ORDER_URL: ${{ secrets.PAYTM_ORDER_URL }}
          TRADINGVIEW_URL: ${{ secrets.TRADINGVIEW_URL }}
        run: |
          cd ./scripts  
          python daily_market_outlook.py