name: Tools Post - Generate

on:
  # push:
  #   branches:
  #     - main
  schedule:
    - cron: '0 13 */2 * *'  # Every 2 days at 13:00 UTC
  workflow_dispatch:  # Optional: allows manual trigger from GitHub UI

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # Checkout the code
      - name: Checkout repository
        uses: actions/checkout@v3

      # Set up Python
      - name: Set up Python 3.12
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'

      # Install dependencies
      - name: Install dependencies
        run: |
          cd ./tools 
          pip install -r requirements.txt

      # Run the Python script with environment variables
      - name: Run tech post generator
        env:
          GOOGLE_API_KEY: ${{ secrets.GOOGLE_API_KEY }}
        run: |
          cd ./tools  
          python generate_tools_post_gemini.py

      # Commit and push changes to the repository (if needed)
      - name: Commit and push changes
        run: |
          cd ./tools  
          git config --global user.name "github-actions"
          git config --global user.email "actions@github.com"
          git add _posts/
          git commit -m "Add tool post" || echo "No changes to commit"
          git push https://${{ secrets.GITHUB_TOKEN }}@github.com/rkoots/rkoots.github.io.git HEAD:main