name: MarketRun

on:
  schedule:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    environment: github-pages
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install dependencies
        working-directory: scripts
        run: pip install -r requirements.txt

      - name: Run Script
        working-directory: scripts
        env:
          FIREBASE_URL: ${{ secrets.FIREBASE_URL }}
          PAYTM_ORDER_URL: ${{ secrets.PAYTM_ORDER_URL }}
          TRADINGVIEW_URL: ${{ secrets.TRADINGVIEW_URL }}
        run: python daily_market_outlook.py
